@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,400;1,300;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.App{
  min-height:100vh;
  display:flex;
  background-image:url("./background.png");
  background-size:cover;
  background-position:center;
}